snowflake_account  = "org-account"
snowflake_user     = "IAC_USER"
snowflake_password = "CHANGEME"
snowflake_role     = "SYSADMIN"
snowflake_warehouse = "COMPUTE_WH"

stage_storage_integration = "S3_INT"
stage_bucket_raw          = "myorg-snowflake-raw"
stage_bucket_silver       = "myorg-snowflake-silver"
stage_bucket_gold         = "myorg-snowflake-gold"
